<div class="consulta-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Criar Consulta</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <form (ngSubmit)="criarConsulta()">
        <mat-form-field appearance="fill">
          <mat-label>ID do Paciente</mat-label>
          <input type="number" id="idPaciente" [(ngModel)]="novaConsulta.idPaciente" name="idPaciente" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>ID do Profissional de Saúde</mat-label>
          <input type="number" id="idProfissionalDeSaude" [(ngModel)]="novaConsulta.idProfissionalDeSaude" name="idProfissionalDeSaude" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data da Consulta</mat-label>
          <input type="datetime-local" id="data" [(ngModel)]="novaConsulta.data" name="data" matInput required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Criar Consulta</button>
      </form>
    </mat-card-content>
  </mat-card>
<div *ngIf="consultaCriada">
  <h2>Consulta criada com sucesso!</h2>
  <p><strong>ID da Consulta:</strong> {{ consultaCriada.id }}</p>
  <p><strong>Paciente:</strong> {{ consultaCriada.paciente.nomeCompleto }}</p>
  <p><strong>Profissional de Saúde:</strong> {{ consultaCriada.profissionalDeSaude.nomeCompleto }}</p>
  <p><strong>Data:</strong> {{ consultaCriada.data }}</p>
  <p><strong>Descrição:</strong> {{ consultaCriada.descricao || 'Sem descrição' }}</p>
</div>
</div>

<!-- Exibe os detalhes da consulta criada -->

