<div class="consulta-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Criar Consulta</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <form (ngSubmit)="criarConsulta()">
        <mat-form-field appearance="fill">
          <mat-label>Paciente</mat-label>
          <mat-select [(ngModel)]="novaConsulta.idPaciente" name="idPaciente" required>
            <mat-option *ngFor="let paciente of pacientes" [value]="paciente.id">
              {{ paciente.nomeCompleto }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Profissional de Saúde</mat-label>
          <mat-select [(ngModel)]="novaConsulta.idProfissionalDeSaude" name="idProfissionalDeSaude" required>
            <mat-option *ngFor="let profissional of profissionaisDeSaude" [value]="profissional.id">
              {{ profissional.nomeCompleto }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data da Consulta</mat-label>
          <input type="datetime-local" id="data" [(ngModel)]="novaConsulta.data" name="data" matInput required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Criar Consulta</button>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="consultaCriada" class="consulta-info">
    <h2>Consulta criada com sucesso!</h2>
    <p><strong>ID da Consulta:</strong> {{ consultaCriada.id }}</p>
    <p><strong>Paciente:</strong> {{ consultaCriada.paciente.nomeCompleto }}</p>
    <p><strong>Profissional de Saúde:</strong> {{ consultaCriada.profissionalDeSaude.nomeCompleto }}</p>
    <p><strong>Data:</strong> {{ consultaCriada.data | date: 'short' }}</p>
    <p><strong>Descrição:</strong> {{ consultaCriada.descricao || 'Sem descrição' }}</p>
  </div>

  <p-toast position="top-right" class="custom-toast"></p-toast>
</div>
