.consulta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dbf8ff;

  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;

    mat-card-header {
      text-align: center;

      mat-card-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }
    }
.consulta-criada-container {
  background-color: #f0f8ff; /* Cor de fundo suave */
  border: 2px solid #53c8eb; /* Borda azul clara */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.consulta-criada-container h2 {
  color: #2f8cad; /* Cor do título */
  font-size: 1.8em;
  margin-bottom: 15px;
}

.consulta-criada-container p {
  color: #333; /* Cor do texto */
  font-size: 1.1em;
  line-height: 1.6;
}
.consulta-criada-container {
  background-color: #f0f8ff; /* Cor de fundo suave */
  border: 2px solid #53c8eb; /* Borda azul clara */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.consulta-criada-container h2 {
  color: #2f8cad; /* Cor do título */
  font-size: 1.8em;
  margin-bottom: 15px;
}

.consulta-criada-container p {
  color: #333; /* Cor do texto */
  font-size: 1.1em;
  line-height: 1.6;
}

.consulta-criada-container strong {
  color: #53c8eb; /* Cor para os textos em negrito */
}

@media (max-width: 768px) {
  .consulta-criada-container {
    padding: 15px;
    max-width: 100%;
  }
}

.consulta-criada-container strong {
  color: #53c8eb; /* Cor para os textos em negrito */
}

@media (max-width: 768px) {
  .consulta-criada-container {
    padding: 15px;
    max-width: 100%;
  }
}


    mat-form-field {
      width: 100%;
      margin-bottom: 20px;

      mat-label {
        color: #333;
      }

      input {
        color: #333;
      }
    }

    button {
      width: 100%;
      background-color: #53c8eb;
      color: white;
      &:hover {
        background-color: #69daf7;
      }
    }
  }
}
