<div class="p-grid">
  <div class="p-col-12">
    <!-- Pesquisa por CPF e Nome Completo lado a lado -->
    <div class="p-d-flex p-jc-center p-ai-center pesquisa-container" style="margin-bottom: 20px;">
      <!-- Pesquisa por CPF -->
      <div class="p-inputgroup" style="margin-right: 10px;">
        <span class="p-inputgroup-addon">
          <i class="pi pi-id-card"></i>
        </span>
        <input pInputText [(ngModel)]="cpf" placeholder="Digite o CPF do paciente">
        <button pButton type="button" label="Pesquisar" (click)="buscarConsultasPorCpf()" [disabled]="!cpf"></button>
      </div>

      <!-- Input para Nome Completo e Botão para pesquisa por Nome -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input pInputText [(ngModel)]="nomeCompleto" placeholder="Digite o nome completo do paciente">
        <button pButton type="button" label="Pesquisar" (click)="buscarConsultasPorNome()" [disabled]="!nomeCompleto"></button>
      </div>
    </div>

    <!-- Tabela de Pacientes -->
    <p-table [value]="pacientes"
             [paginator]="true"
             [rows]="pageSize"
             [totalRecords]="totalElements"
             [loading]="loading"
             [lazy]="true"
             (onLazyLoad)="onPageChange($event)"
             dataKey="id"
             [rowsPerPageOptions]="[2,10, 20, 30]"
             [responsiveLayout]="'scroll'">

      <!-- Cabeçalho da Tabela -->
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nomeCompleto">Nome Completo</th>
          <th pSortableColumn="cpf">CPF</th>
          <th pSortableColumn="dataNascimento">Data de Nascimento</th>
          <th pSortableColumn="telefone">Telefone</th>
          <th pSortableColumn="email">Email</th>
          <th pSortableColumn="genero">Gênero</th>
          <th>
            <div style="text-align: right;">
              <p-button icon="pi pi-plus" (click)="openCreateDialog()" class="p-button-raised p-button-success"></p-button>
            </div>
          </th>
        </tr>
      </ng-template>

      <!-- Corpo da Tabela -->
      <ng-template pTemplate="body" let-paciente>
        <tr>
          <td>{{ paciente.nomeCompleto }}</td>
          <td>{{ paciente.cpf }}</td>
          <td>{{ paciente.dataNascimento | date }}</td>
          <td>{{ paciente.telefone }}</td>
          <td>{{ paciente.email }}</td>
          <td>{{ paciente.genero }}</td>
          <td>
            <!-- Botão de Editar -->
            <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="openEditDialog(paciente)"></button>
            <!-- Botão de Deletar -->
            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletarPaciente(paciente)"></button>
          </td>
        </tr>
      </ng-template>

      <!-- Mensagem caso a tabela esteja vazia -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nenhum paciente encontrado.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
